*.md
**/node_modules

.git
.github
media
.gitignore
.nvmrc
DCO
LICENSE

packages/jaeger-ui/build
packages/jaeger-ui/stats.html
packages/plexus/dist
packages/plexus/lib
packages/plexus/libtsconfig.tsbuildinfo
